<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>

<div id="app">
    <p v-if="cartItem > 0">Cart Items : {{cartItem}}</p>
    <p style="font-weight:bold" >Selected Items: {{itemSelected}}</p>
    <div v-for="item in items" v-if="item.ordered >= 0">
        <p>{{item.name}}</p>
        <img v-bind:src="item.imgSrc" v-on:click="itemSelect(item.name)"> <!-- sends item name as parameter to the itemSelect method-->
        <button v-on:click="orderThis(item)">Order This</button>
        <button v-on:click="deleteThis(item)">Delete This</button>
        <p>Items Ordered: {{item.ordered}}</p>
    </div>
</div>

<script>
    var app = new Vue({
        el : "#app",
        data : {
            itemSelected: "None Yet",
            cartItem : 1,
            items : 
            [
                {name: 'Stitch', ordered:0, imgSrc: 'stitch.jpg'},
                {name: 'Dori', ordered:0, imgSrc: 'dory.png'}
            ]
        },
        methods: {
            itemSelect(theName){
                this.itemSelected = theName;
            },
            orderThis(theItem){
                this.cartItem++;
                theItem.ordered++;
            },
            deleteThis(theItem){
                theItem.ordered = -1;
            }
        }
    })
</script>